<div class="container">
  <div class="filters">
    <a class="button" (click)="filter='Heads'">Heads</a>
    <a class="button" (click)="filter='Arms'">Arms</a>
    <a class="button" (click)="filter='Torsos'">Torsos</a>
    <a class="button" (click)="filter='Bases'">Bases</a>
    <a class="button" (click)="filter=''">All</a>
  </div>

  <ul class="products">
    <li class="product-item" *ngFor="let product of getFilteredProducts()">
      <robot-shop-product-details [product]="product" (buy)="addToCart(product)"></robot-shop-product-details>
      <!-- product-details.component is a child component that displays the details of the product -->
      <!-- [product] is a property binding that passes the product object to the child component -->
    </li>
  </ul>
</div>