<div class="container">
  <div class="filters">
    <a class="button" (click)="filter='Heads'">Heads</a>
    <a class="button" (click)="filter='Arms'">Arms</a>
    <a class="button" (click)="filter='Torsos'">Torsos</a>
    <a class="button" (click)="filter='Bases'">Bases</a>
    <a class="button" (click)="filter=''">All</a>
  </div>

  <ul class="products">
    <li class="product-item" *ngFor="let product of getFilteredProducts()">
      <div class="product">
        <div class="product-details">
          <img [src]="getImageUrl(product)" [alt]="product.name" />
          <!-- <img [src]="'/assets/images/robot-parts/' + product.imageName" [alt]="product.name" /> -->
          <!-- <img src="{{ '/assets/images/robot-parts/' + product.imageName }}" [alt]="product.name" /> -->
          <!-- [alt] adding the brackets to the attribute name causes Angular to evaluate this as an expression  -->
          <!-- square brackets create a one‑way binding from the component to the template. -->
          <!--  if the data changed in the component, it would change the value of the input box. 
            But if the user changed the value of the input box by typing something into the box, 
            it would not change the value in the components 
          -->
          <div class="product-info">
            <div class="name">{{ product.name }}</div>
            <!-- product.name is known as data interpolation -->
            <div class="description">{{ product.description }}</div>
            <div class="category">Part Type: {{ product.category }}</div>
          </div>
        </div>
        <div class="price">
          <div>${{ product.price.toFixed(2) }}</div>
          <button class="cta">Buy</button>
        </div>
      </div>
    </li>
  </ul>
</div>